.container {
  max-width: 900px;
  margin: 0 auto;
}

.images {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 675px 675px;
  grid-gap: 25px;
  justify-content: center;
}

.images > image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

h3 {
  font-family: helvetica;
  margin-bottom: 5px;
  color: blue;
}

.paragraph {
  margin: 0px;
  font-family: helvetica;
}
