body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
}

.images {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.image {
  flex-basis: 250px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 15px;
}
.image > img {
  width: 100%;
  height: auto;
}
.image > h3 {
  font-family: helvetica;
  margin: 0;
  color: #465afe;
}
.paragraph {
  font-family: helvetica;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
